body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply block bg-gray-500 text-gray-100 px-3.5 py-2 hover:bg-gray-600;
  }
  .blue-button {
    @apply block bg-blue-200 text-white text-center font-semibold hover:bg-blue-300
    border-solid border-1 border-blue-300 relative
    
    before:empty-content before:bg-blue-100 before:block before:h-px before:w-full
    before:absolute before:top-0;
  }
  .control-button {
    @apply md:w-24 md:max-h-12 h-12 font-bold relative
    border-solid border-1 block w-full

    before:empty-content before:block before:h-px before:w-full
    before:absolute before:top-0

    after:empty-content after:block after:h-px after:w-full
    after:absolute after:bottom-0;
  }
}